package-lock.json
node_modules
.idea
.vscode
*.log
.env
yarn.lock

src/generated
dist/generated/prisma-ts/index\.js

dist/generated/prisma-ts/index\.js\.map

dist/generated/prisma-ts/prisma-schema\.js

dist/generated/prisma-ts/prisma-schema\.js\.map

dist/index\.js

dist/index\.js\.map

dist/resolvers/index\.js

dist/resolvers/index\.js\.map

dist/resolvers/Mutations/auth\.js

dist/resolvers/Mutations/auth\.js\.map

dist/resolvers/Mutations/index\.js

dist/resolvers/Mutations/index\.js\.map

dist/resolvers/Mutations/items\.js

dist/resolvers/Mutations/items\.js\.map

dist/resolvers/Mutations/orders\.js

dist/resolvers/Mutations/orders\.js\.map

dist/resolvers/Queries/index\.js

dist/resolvers/Queries/index\.js\.map

dist/resolvers/Queries/items\.js

dist/resolvers/Queries/items\.js\.map

dist/resolvers/Queries/orders\.js

dist/resolvers/Queries/orders\.js\.map

dist/resolvers/Queries/users\.js

dist/resolvers/Queries/users\.js\.map

dist/resolvers/Types/context\.js

dist/resolvers/Types/context\.js\.map

dist/resolvers/Types/typeMap\.js

dist/resolvers/Types/typeMap\.js\.map

dist/utils\.js

dist/utils\.js\.map
